{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Blog</title>
    <script src="{% static 'resources/js/medium-editor.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'resources/css/medium-editor.min.css' %}">
    <link rel="stylesheet" href="{% static 'resources/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'resources/css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
</head>
<body class='loader'>

<!--  NAVBAR-->
<nav class="navbar navbar-default navbar-expand-lg techfont custom-navbar">
    <div class="container">
        <ul class="navbar-nav mr-auto bigbrand">
            <li class="nav-item active"><a class="navbar-brand bigbrand" href="{% url 'post_list' %}">My Blog</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'about' %}">About</a></li>
            <li class="nav-item active"><a class="nav-link" href="https://github.com/santhu3064">Github</a></li>
            <li class="nav-item active"><a class="nav-link" href="https://www.linkedin.com/in/santhosh-kumar-ruttala/">Linkedin</a></li>
        </ul>

        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item active"><a class="nav-link" href="{% url 'post_create' %}">New Post</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'post_draft_list' %}">Drafts</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
            <li class="nav-item active"><span class="navbar-text">Welcome: {{ user.username }}</span></li>
            {% else %}
            <li class="nav-item active"><a href="{% url 'login' %}"><span class='glyphicon  glyphicon-user'>Login</span></a></li>
            {% endif %}
        </ul>
    </div>
</nav>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                  <div class="blog_posts">
                    {% block content %}
                    {% endblock %}

                  </div>

                </div>
            </div>
        </div>


<script type="text/javascript" src="{% static 'resources/js/blog.js' %}"></script>

</body>
</html>