{% extends "rvl_blog/base.html" %}

{% block content %}

{% if post.publish_date %}
<div class="date postdate">
    {{ post.publish_date }}
</div>
{% else %}

<a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
{% endif %}

<p class='postcontent'>{{ post.text|safe|linebreaksbr }}</p>


{% if user.is_authenticated %}
<a class="btn btn-warning" href="{% url 'post_update' pk=post.pk %}">Edit</a>
<a class="btn btn-danger" href="{% url 'post_delete' pk=post.pk %}">Remove</a>
{% endif %}

<hr>

<a class="btn btn-primary" href="{% url 'add_comments_to_post' pk=post.pk %}">Add Comment</a>

{% for comment in post.comments.all %}
<br>
{% if user.is_authenticated or comment.approved_comment %}

{{ comment.date_created }}
{% if not comment.approved_comment %}
<a class="btn btn-default" href="{% url 'approve_comment' pk=comment.pk %}">Approve</a>
<a class="btn btn-danger" href="{% url 'remove_comment' pk=comment.pk %}">Remove</a>
{% endif %}

<p>{{ comment.text|safe|linebreaks }}</p>
<p>Posted by: <strong>{{ comment.author }}</strong></p>

{% endif %}
{% empty %}
{% endfor %}

{% endblock %}